*{
  margin: 0;
  padding: 0;
}

.parent{
  height: 250px;
  width: 250px;
  background-color: aquamarine;
  border: 2px solid #000;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter{
  text-align: center;
}
.counter h1{
  text-align: center;
}
button{
  cursor: pointer;
  border: none;
  padding: 10px 12px;
  border-radius: 10px;
}